#searchbar{
	padding: 5px;
	border: 1px;
	border-color: #000000;
	/*background-color: #DAB510;*/
	vertical-align: center;
	outline: 1px solid #FBF9F6;
	/*margin-top: 10%;*/
}
.results{
	/*outline: 1px solid #000000;*/
  /*border: 1px dotted #cfcfcf;*/
}
.aligning{
  /*padding-left: 5px;*/
  text-align: center;
}
#searchbox{
	margin-top: 5px;
    padding: 2px;
    /*text-align: center;*/
    /*text-align: -webkit-center;*/
    float: left;
    /*margin-left: 100px;*/
    width: 199%;
    
}
#usr{
	display: inline-block;
	width: 20%;

}


#imaginary_container{
    /*margin-top:20%;  Don't copy this */
    width: 50%;
    text-align: center;


}
.stylish-input-group .input-group-addon{

    background: #009AFD !important;
    color: white;
    border: none;
    border-radius: 0px;
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
   border-radius: 0px;

	/*border-color:#ccc;*/
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

#footer {
  height: 20px;
  margin-top: -20px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0px -8px 6px -6px #E6E6E6;
  text-decoration: none;
  position: relative;
  bottom: 0;
}
#footer,#footer a:hover{
  padding: 10px;
  text-decoration: none;
}

#wrap {
  min-height: 70%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
#showinfo{
  width: 250px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.SLS{
  border: 0px;
  border-radius: 0px;
  background-color: #F9F9F9;
  border-color: #e7e7e7;
  /*background: linear-gradient(#149777,#10846f);*/

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #E6E6E6;

    /* the rest of your styling 
}


.stay-safe-box {
    text-align: center;
}
.ui-info-box {
    padding: 10px;
}
.ui-info-box, .ui-info-box h3, .ui-info-box .h3 {
    color: #673500;
}
.ui-info-box {
    position: relative;
    z-index: 1;
    background: #fbf6d5;
    border: solid 1px #dcb300;
    border-radius: 4px;
    height: 70px;
    width: 100%;
    margin-top: 5px;
}
#footer{
  border: 1px;
  border-radius: 0px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  /*background: linear-gradient(#149777,#10846f);*/
}


#indexbtn {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: .6em .8em;
    background: #009afd;
    -webkit-transition: background 0.15s ease, color 0.15s ease;
    -moz-transition: background 0.15s ease, color 0.15s ease;
    -ms-transition: background 0.15s ease, color 0.15s ease;
    -o-transition: background 0.15s ease, color 0.15s ease;
    border: 1px solid #1777b7;
    box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 1px 1px rgba(100,100,100,0.3);
    border-radius: 3px;

  }
  .center{
    text-align: center;
    margin-left: 50%;
  }
  .left{
    text-align: left;
  }
  #title{
    text-align: center;
  }
  .text-center {
    text-align: left;
}
.form-control{
  border-radius: 0;
}
#gold{
     
        background-color: hsl(38, 100%, 46%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd999", endColorstr="#ea9400");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffd999), to(#ea9400));
  background-image: -moz-linear-gradient(top, #ffd999, #ea9400);
  background-image: -ms-linear-gradient(top, #ffd999, #ea9400);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd999), color-stop(100%, #ea9400));
  background-image: -webkit-linear-gradient(top, #ffd999, #ea9400);
  background-image: -o-linear-gradient(top, #ffd999, #ea9400);
  background-image: linear-gradient(#ffd999, #ea9400);
  border-color: #ea9400 #ea9400 hsl(38, 100%, 37.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.56);
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-size: 12px;
  /*height: 30px;*/
  /*padding: 5px;*/
}

#gold.btn.active, #gold.btn:active {
    background-color: #88650D;
    border-color: #a88734 #9c7e31 #846a29;
}


#btnblue{
     
  background-color: hsl(0, 0%, 59%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd999", endColorstr="#ea9400");
  /*background-image: -khtml-gradient(linear, left top, left bottom, from(#ffd999), to(#ea9400));
  background-image: -moz-linear-gradient(top, #ffd999, #ea9400);
  background-image: -ms-linear-gradient(top, #ffd999, #ea9400);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd999), color-stop(100%, #ea9400));
  background-image: -webkit-linear-gradient(top, #ffd999, #ea9400);
  background-image: -o-linear-gradient(top, #ffd999, #ea9400);
  background-image: linear-gradient(#ffd999, #ea9400);
  border-color: #ea9400 #ea9400 hsl(38, 100%, 37.5%);*/
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.56);
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-size: 12px;
  /*height: 30px;*/
  /*padding: 5px;*/
}
.rangaz_red{
  color: #E82D24;
}
body {
    /*opacity: .9;*/
    background: transparent url(overlays/02.png) center center repeat;
}

.header_box {
    background-color: #ffffcc;
    border: 1px dotted #cfcfcf;
    color: #000000;
    padding: 7px;
    width: 300px;
     -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 9px 12px -6px #E6E6E6;
        font-size: 12px;
}
.header_box a{
  color: black;
  text-decoration: none;
 
}
#index_box{
  border: 1px dotted #cfcfcf;
  padding: 15px;
  margin-bottom: 5%;
  margin-top: 2%;
   -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 9px 12px -6px #E6E6E6;
            width: 30%;


}
#keywords{
  margin-bottom: 10px;
  padding: 5px;
}
.results a:hover, a:focus{
  text-decoration: none;
}
a#res{
  color: #0005A5;
  font-size: 18px;
}
.search-ico{
  background-image: url("../img/sico.png");
  /*background: url('../img/sico.png') no-repeat #FFFFFF;*/
}
#info_box{
  margin-top: 2%;
}
#resbar{
      min-height: 100%;
      margin-bottom: 5%;
}

