.box {
    background-color: lightgrey;
    background: url('../bodybg.gif') repeat #FFFFFF;
    width: 1003px;
    height: 1003px;
    /*padding: 25px;*/
    border: 1px solid #BABABB;
    margin: 25px;
    margin-top: 0;
    vertical-align: middle;
}
#inner{
    width: 700px;
    height: 700px;
    margin: 25px;
    border: 1px solid #868686;
    /*text-align: left;*/
}
body{
	background: url('../bodybg.gif') repeat #FFFFFF;
}
.SLS{
	background-color: black;
}
#indexbtn {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: .6em .8em;
    background: #009afd;
    -webkit-transition: background 0.15s ease, color 0.15s ease;
    -moz-transition: background 0.15s ease, color 0.15s ease;
    -ms-transition: background 0.15s ease, color 0.15s ease;
    -o-transition: background 0.15s ease, color 0.15s ease;
    border: 1px solid #1777b7;
    box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 1px 1px rgba(100,100,100,0.3);
    border-radius: 3px;

  }
  #describe{
  	color: white;
  }
  a{
  	color: #FFD700;
  }
  #footer{
  	    margin-bottom: 0;
  	    height: 10px;
  	    min-height: 10px;
  	    background-color: transparent;	
  }
  #footer a{
  	color: #BABABB;
  }

table, th, td {
    border: 1px solid #8E8E8E;
}
tr{
  height: 10px;
}
img{
	height: 100px;
	width: 100px;
}
#inst{
	color: #E8E8E8;
	font-weight: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
	font-family: "Times New Roman", Times, serif;
    font-size: 45px;

}
#black{
	color: black;
	text-decoration: none;
}

@keyframes blink {  
    0% { color: black; }
    50% { color: #FFD700; }
    100% { color: black; }
}
@-webkit-keyframes blink {
    0% { color: black; }
    50% { color: #FFD700; }
    100% { color: black; }
}
.blink {
    -webkit-animation: blink 2s linear infinite;
    -moz-animation: blink 2s linear infinite;
    -ms-animation: blink 2s linear infinite;
    -o-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
    
} 
.blink:hover{
	text-decoration: none;
}
a#brand:hover{
    /*color: #ffd999;*/
  text-decoration: none;
  color: #FFD700;
  text-shadow: -1px 1px 40px #ffc, 1px -1px 40px #fff;
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s;
  outline: 0 none;
  }
a.price{
  color: #FFD700;
  text-decoration: none;
}